* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
}

div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
    background: white;
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    /* animation-name: teste;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    /* position: relative; */
}

.loading {
    position: absolute;
    color: rgb(148, 148, 148);
    font-size: 25pt;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    background-color: rgb(236, 236, 236);
}

.circle-rotate
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 1px 0px #464646;
                
    background: transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

