* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    background: white;
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    /* animation-name: teste;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    /* position: relative; */
}

@keyframes teste {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

