* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(37, 37, 37);
}

div {
    display: flex;
}


div span {
    font-size: 10em;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    
    transition: 2s;

    color: rgb(253, 255, 118);
    text-shadow: 0 0 20px rgb(255, 115, 0),
                0 0 30px rgb(170, 96, 0),
                0 0 50px rgb(124, 85, 0);
}

div:hover span{
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px);
}


div span:nth-child(1) {
    transition-delay: 0;
}

div span:nth-child(2) {
    transition-delay: 0.4s;
}

div span:nth-child(3) {
    transition-delay: 0.8s;
}


div span:nth-child(5) {
    transition-delay: 1.2s;
}

div span:nth-child(6) {
    transition-delay: 1.6s;
}

