* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    position: relative;
}

div span {
    font-size: 10em;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;

    position: absolute;

    animation: animate linear 2s infinite;
}

div span:nth-child(1) {
    animation-delay: .2s;
    margin-left: -380px;
}

div span:nth-child(2) {
    animation-delay: .4s;
    margin-left: -250px;

}

div span:nth-child(3) {
    animation-delay: .6s;
    margin-left: -200px;

}

div span:nth-child(4) {
    animation-delay: .8s;
    margin-left: -150px;

}

div span:nth-child(5) {
    animation-delay: 1s;
    margin-left: -100px;

}

div span:nth-child(6) {
    animation-delay: 1.2s;
    margin-left: 0px;

}


@keyframes animate {
    0% {
        opacity: 1;
    }

    25% {}

    50% {
        filter: blur(10px);
        transform: rotateZ(40deg) translateY(-150px);
        opacity: 0;
    }

    75% {}

    100% {opacity: 1;}
}