*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

div.context {
    width: 500px;
    height: 200px;

    position: relative;
}

div.context div.line {
    height: 20px;
    width: 500px;

    background-color: rgb(58, 58, 58);

    position: absolute;
    bottom: 0;
    border-radius: 50%;

    animation: colorLine linear 2s infinite;
}

div.context span {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-color: white;

    
    position: absolute;
    bottom: 155px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: animate linear 1.5s infinite;
}



div.context span:nth-child(2) {
    margin-left: 105px;
    animation-delay: .2s;
    /* background-color: rgb(229, 255, 0); */
}

div.context span:nth-child(3) {
    margin-left: calc(105px * 2);
    animation-delay: .4s;
    /* background-color: rgb(30, 255, 0); */

}

div.context span:nth-child(4) {
    margin-left: calc(105px * 3);
    animation-delay: .6s;
    /* background-color: rgb(17, 0, 255); */

}

div.context span:nth-child(5) {
    margin-left: calc(105px * 4);
    animation-delay: .8s;
    /* background-color: rgb(234, 0, 255); */

}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
        transform: translateY(0px);
    }
    25% { 
        transform: translateY(150px);
    }
    50% { 
        transform: translateY(0px);
    }

    75% { 
        transform: translateY(150px);
    }

    100% {

        transform: translateY(0px);
        filter: hue-rotate(360deg);

    }
}

/* @keyframes colorLine {
    0% {
        filter: hue-rotate(0deg);
    }


    100% {
        filter: hue-rotate(360deg);
    }
} */