* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 247);
}

nav.menu {
    position: relative;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
}

label {
    width: 100vw;
    height: 50px;

    /* background-color: red; */
    border-bottom: 1px solid rgb(223, 223, 223);
}


nav input#burguer-menu {
    position: absolute;
    top: 17px;
    right: 20px;

    transform: scale(3);
}

nav input#burguer-menu:checked ~ div.item-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div.item-menu {
    line-height: 60px;
    display: none;    

}


div.item-menu a {
    text-decoration: none;
    border-bottom: 1px solid rgb(223, 223, 223);
    /* width: 100vw; */
    text-align: center;
    color: rgb(116, 116, 116);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}

div.item-menu a:nth-child(4) {
    color: rgb(86, 226, 86);
}

@media(min-width: 780px) {
    div.item-menu {
        position: absolute;
        right: 0;
        top: -5px;
        width: 50vw;

        display: flex;
        justify-content: space-around;
        margin-right: 30px;
    }

    div.item-menu a {
        display: inline-block;
        border: none;
    }

    input#burguer-menu {
        display: none;
    }

}



