* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(24, 24, 24);
}

div.content {
    position: relative;
}

div.content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;


}

div.content input,
div.content span.icon {
    font-size: 100px;
    color: rgb(63, 63, 63);

    width: 100px;
    height: 100px;

    margin-right: 80px;

    /* transition: color 2s; */
}


div.content input:checked ~ span.icon{
    color: red;
    animation: animate linear 5s infinite;
    text-shadow: 0 0 50px rgb(245, 0, 0),
                 0 0 5px rgba(0, 0, 255, 0.404);
    

    transition: 1s;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

