* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content {
    width: 150px;
    height: 150px;
    position: relative;
    
}

span.square {
    width: 50px;
    height: 50px;
    background-color: red;
    animation: animate linear 2s infinite;
    border-radius: 8px;

    position: absolute;    

}

span.square:nth-child(1) { animation-delay: 0s; }
span.square:nth-child(2) { animation-delay: .7s; }
span.square:nth-child(3) { animation-delay: 1.4s; }

/* 27% {box-shadow:-10px 0 0 #999,-20px 0 0 #777,-30px 0 0 #666,-40px 0 0 #555,-50px 0 0 #444} */
/* 77% {box-shadow:10px 0 0 #999,20px 0 0 #777,30px 0 0 #666,40px 0 0 #555,50px 0 0 #444} */

@keyframes animate {
    0% { transform: translate(0, 0); }
    12.5% { transform: translate(0, 70px); box-shadow:0px -10px 0 #999,0px -20px 0 #777,0px -30px 0 #666,0px -40px 0 #555,0px -50px 0 #444}
    25% { transform: translate(0, 70px); box-shadow: none;}
    37.5% { transform: translate(70px, 70px); box-shadow:-10px 0 0 #999,-20px 0 0 #777,-30px 0 0 #666,-40px 0 0 #555,-50px 0 0 #444}
    50% { transform: translate(70px, 70px); box-shadow: none;}
    62.5% { transform: translate(70px, 0); box-shadow:0px 10px 0 #999,0px 20px 0 #777,0px 30px 0 #666,0px 40px 0 #555,0px 50px 0 #444}
    75% { transform: translate(70px, 0); box-shadow: none;}
    87.5% { transform: translate(0, 0); box-shadow:10px 0 0 #999,20px 0 0 #777,30px 0 0 #666,40px 0 0 #555,50px 0 0 #444}
    100% { transform: translate(0, 0); box-shadow: none;}
} 

/* @keyframes rastro {
    12.5% {}
    37.5% {}
    62.5% {}
    % {}
} */

/* @keyframes animate 
    {
        0% {top: 0; left: 0;}
    
        12.5% { top: 0; left: 50%;}
    
        25% { top: 0; left: 50%;}
    
        37.5% { top: 50%; left: 50%;}
    
        50% { top: 50%; left: 50%;}
    
        62.5% { top: 50% ; left: 0;}
    
        75% { top: 50% ; left: 0;}
    
        82.5% { top: 0; left: 0;}
    
        100% { top: 0; left: 0;}
    } */