* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(43, 43, 43);
}

section {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: rotation ease-in-out 5s infinite;


}

section div.circle {
    position: absolute;
    bottom: 10px;
    left: 0;

    width: 50px;
    height: 50px;

    /* background: rgb(0, 0, 0); */
    background: linear-gradient(180deg, rgb(128, 128, 128) 0%, rgb(58, 58, 58) 50%, rgb(22, 22, 22)100%);
    border-radius: 50%;

    animation: animate ease-in-out 5s infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0px) rotateZ(0);
    }
    50% {
        transform: translateX(150px) rotateZ(360deg);
    }

    /* 50% {
        transform: translateX(-50px);

    }

    75% {
        transform: translateX(-100px);

    } */

    100% {
        transform: translateX(0px) rotateZ(0);

    }

}

section div.line {
    width: 200px;
    height: 10px;

    background: linear-gradient(180deg, rgb(128, 128, 128) 0%, rgb(58, 58, 58) 50%, rgb(22, 22, 22)100%);


    border-radius: 30px;
}

@keyframes rotation {
    0% {
        transform: rotateZ(40deg);

    }
    /* 25% {
        transform: rotateZ(40deg);

    } */

    50% {
        transform: rotateZ(-40deg);
    }

    /* 75% {
        transform: rotateZ(40deg);

    } */

    100% {
        transform: rotateZ(40deg);

    }
}

 div.triangle {
    /* position: relative; */
    font-size: 6em;
    margin-top: -23px;
    
    
    color: transparent;
    background: linear-gradient(180deg, rgb(59, 59, 59) 0%, rgb(63, 63, 63), rgb(128, 128, 128)100%);
    -webkit-background-clip: text;
    
    
    overflow: hidden;

    /* -----TRIANGULO----- */

    /* width: 30px; 
    height: 30px; 

    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    
    border-bottom: 60px solid rgb(156, 156, 156); */
    
   
}

